{% extends "base.html" %}

{% block head %}
<title>Data Display</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Data Display</h1>
    <div>
        <label for="website-name">Website Name:</label>
        <div id="website-name" >
            example.com
        </div>
    </div>
    <div>
        <label for="dom">DOM:</label>
        <div id="dom" >
            Document Object Model Data
        </div>
    </div>
    <div>
        <label for="parameter">Parameter:</label>
        <div id="parameter" >
            Sample Parameter
        </div>
    </div>
    <div>
        <label for="value">Value:</label>
        <div id="value" >
            12345
        </div>
    </div>
</div>
{% endblock %}
