{% extends "base.html" %}

{% block head %}
<title>Result Display</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Checking for IDOR...</h1>
    {% if result %}
    <h2>Results:</h2>
    {% for entry in result %}
    <div class="result-item {{ 'text-green' if entry.status == 200 else 'text-red' }}">
        <p><strong>URL:</strong> {{ entry.url }}</p>
        <p><strong>Payload:</strong> {{ entry.payload }}</p>
        <p><strong>Status:</strong> {{ entry.status }}</p>
    </div>
    <hr>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
